<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlk.zlkproject.course.section.mapper.SectionMapper">
    <resultMap id="sectionEntityMap" type="com.zlk.zlkproject.entity.Section">
        <id property="sectionId" column="section_id" javaType="java.lang.Integer"/>
        <result property="chapterId" column="chapter_id" javaType="java.lang.Integer"/>
        <result property="courseId" column="courses_id" javaType="java.lang.Integer"/>
        <result property="sectionName" column="section_name" javaType="java.lang.String"/>
        <result property="sectionIntro" column="section_intro" javaType="java.lang.String"/>
        <result property="videoAddr1" column="video_addr1" javaType="java.lang.String"/>
        <result property="videoAddr2" column="video_addr2" javaType="java.lang.String"/>
        <result property="sectionTime" column="section_time" javaType="java.lang.Integer"/>
        <result property="sectionNum" column="section_num" javaType="java.lang.Integer"/>
        <collection property="userSectionList" ofType="com.zlk.zlkproject.entity.UserSection">
            <id property="userId" column="user_id" javaType="java.lang.String"></id>
            <id property="sectionId" column="section_id" javaType="java.lang.Integer"></id>
            <result property="state" column="state" javaType="java.lang.String"></result>
            <result property="time" column="time" javaType="java.lang.Integer"></result>
        </collection>
    </resultMap>
    <!--根据课程id查询这一章下有多少小节-->
    <select id="findCountByCourseId" resultType="java.lang.Integer">
        select count(1) from section s,chapter c,courses co  where co.courses_id =
        c.courses_id and c.chapter_id = s.chapter_id and co.courses_id = #{coursesId}
    </select>
    <!--根据课程id查询这个课程下的小节并分页-->
    <select id="findSectionByCourseIdLimit" resultMap="sectionEntityMap" >
        select s.section_id,s.section_name,s.section_time,s.section_intro
        from section s,chapter c,courses co  where co.courses_id = c.courses_id
        and c.chapter_id = s.chapter_id and co.courses_id = #{courseId} limit #{offset}, #{limit}
    </select>
    <!--根据课程id查询这个课程下的小节-->
    <select id="findSectionByCourseId" resultMap="sectionEntityMap" >
        select s.section_id,s.section_name,s.section_time,s.section_intro
        from section s,chapter c,courses co  where co.courses_id = c.courses_id
        and c.chapter_id = s.chapter_id and co.courses_id = #{courseId}
    </select>

    <select id="findSectionByChapterId" parameterType="java.lang.Integer" resultMap="sectionEntityMap">
        select section_id,chapter_id,section_name,video_addr,section_time,section_num from section where chapter_id = #{chapterId};
    </select>
    <select id="findStateById" resultType="java.lang.String">
        select state from user_section where section_id = #{sectionId} and user_id = #{userId}
    </select>
    <select id="findVideoAddrById" parameterType="java.lang.Integer" resultMap="sectionEntityMap">
        select video_addr1,video_addr2 from section where section_id = #{sectionId}
    </select>

    <!--根据小节id和用户id查询状态-->
    <select id="findStateByIdAndChapterId" resultType="java.lang.String">
        select state from user_section where section_id = #{sectionId} and user_id=#{userId}
    </select>

    <select id="findSectionBySectionIdAndUserId" resultMap="sectionEntityMap">
        select s.section_id,s.chapter_id,s.section_name,s.video_addr,s.section_time,s.section_num,
                us.user_id,us.section_id,us.state,us.time
         from section s left join user_section us on us.section_id=s.section_id
         where us.user_id = #{userId} and s.section_id = #{sectionId}
    </select>
    <!--根据小节id查找小节名字-->
    <select id="findNameBySectionId" parameterType="java.lang.Integer" resultType="java.lang.String">
        select section_name from section where section_id = #{sectionId};
    </select>
</mapper>