<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlk.zlkproject.course.section.mapper.SectionMapper">
    <resultMap id="sectionEntityMap" type="com.zlk.zlkproject.entity.Section">
        <id property="sectionId" column="section_id" javaType="java.lang.Integer"></id>
        <result property="chapterId" column="chapter_id" javaType="java.lang.Integer"></result>
        <result property="sectionName" column="section_name" javaType="java.lang.String"></result>
        <result property="videoAddr" column="video_addr" javaType="java.lang.String"></result>
        <result property="sectionTime" column="section_time" javaType="java.lang.Integer"></result>
        <result property="sectionNum" column="section_num" javaType="java.lang.Integer"></result>
    </resultMap>
    <select id="findSectionByChapterId" parameterType="java.lang.Integer" resultMap="sectionEntityMap">
        select section_id,chapter_id,section_name,video_addr,section_time,section_num from section where chapter_id = #{chapterId};
    </select>
    <select id="findStateById" parameterType="java.lang.Integer" resultType="java.lang.String">
        select state from user_section where section_id = #{sectionId}
    </select>
</mapper>