<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlk.zlkproject.user.personal.mapper.ArticlesMapper">
    <resultMap type="com.zlk.zlkproject.user.entity.Articles" id="articlesMap">
            <id property="articleId" column="article_id" javaType="java.lang.String"/>
            <result property="title" column="title" javaType="java.lang.String"/>
            <result property="browseCount" column="browse_count" javaType="java.lang.Integer"/>
            <result property="commentCount" column="comment_count" javaType="java.lang.Integer"/>
            <result property="createTime" column="create_time" javaType="java.util.Date"/>
            <result property="updateTime" column="update_time" javaType="java.util.Date"/>
            <result property="figures" column="figures" javaType="java.lang.String"/>
            <result property="figuresReal" column="figures_real" javaType="java.lang.String"/>
            <result property="articleDigest" column="article_digest" javaType="java.lang.String"/>
            <result property="articleContent" column="article_content" javaType="java.lang.String"/>
            <result property="zanCount" column="zan_count" javaType="java.lang.Integer"/>
            <result property="caiCount" column="cai_count" javaType="java.lang.Integer"/>
            <result property="inform" column="inform" javaType="java.lang.String"/>
            <result property="userId" column="article_user_id" javaType="java.lang.String"/>
            <result property="tagId" column="article_tag_id" javaType="java.lang.Integer"/>
            <collection property="tagList" ofType="com.zlk.zlkproject.entity.Tag">
                <id property="tagId" column="tag_id" javaType="java.lang.Integer"/>
                <result property="tagName" column="tag_name" javaType="java.lang.String"/>
                <result property="tagTypeId" column="tag_type_id" javaType="java.lang.Integer"/>
                <result property="tagTypeName" column="tag_type_name" javaType="java.lang.String"/>
            </collection>
    </resultMap>
    <!--根据用户ID查询我的文章-->
    <select id="selectArticles" resultMap="articlesMap" parameterType="java.lang.String">
        select * from article a
        JOIN tag t on t.tag_id=a.article_tag_id
        where a.article_user_id=#{userId} order by update_time desc
    </select>
    <!--根据用户ID查询我的文章数量-->
    <select id="findArticlesId" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*) from article where article_user_id=#{userId}
    </select>
    <!--根据文章ID修改我的文章-->
    <update id="updateArticles" parameterType="com.zlk.zlkproject.user.entity.Articles">
        update article
        <set>
            <if test="article_content!=null and article_content!=''">
                article_content=#{articleContent}
            </if>
        </set>
        where article_id=#{articleId}
    </update>
    <!--根据文章ID删除文章-->
    <delete id="deleteArticles" parameterType="com.zlk.zlkproject.user.entity.Articles">
        delete from article where article_id=#{articleId}
    </delete>
    <!--流加载-->
    <select id="findArticlesAll" parameterType="com.zlk.zlkproject.entity.Pagination" resultMap="articlesMap">
        select * from article order by update_time desc limit #{startPage},#{limit}
    </select>
    <!--删除标签-->
    <update id="updateTag" parameterType="com.zlk.zlkproject.entity.Tag">
        update article_tag set tag_id=null where article_id=#{articleId}
    </update>
    <!--添加标签-->
    <insert id="insertTag" parameterType="com.zlk.zlkproject.entity.Tag">
        insert into article_tag (tag_id,article_id) values (#{tagId},#{articleId})
    </insert>
</mapper>