<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlk.zlkproject.user.personal.mapper.DurationMapper">
    <resultMap type="com.zlk.zlkproject.entity.User" id="durstionMap">
        <id property="userId" column="user_id" javaType="java.lang.String"/>
        <result property="phonenum" column="user_phonenum" javaType="java.lang.String"/>
        <result property="userPwd" column="user_pwd" javaType="java.lang.String"/>
        <result property="userRealname" column="user_realname" javaType="java.lang.String"/>
        <result property="userSex" column="user_sex" javaType="java.lang.String"/>
        <result property="userBirthday" column="user_birthday" javaType="java.util.Date"/>
        <result property="userNative" column="user_native" javaType="java.lang.String"/>
        <result property="userMarry" column="user_marry" javaType="java.lang.String"/>
        <result property="userCity" column="user_city" javaType="java.lang.String"/>
        <result property="userState" column="user_state" javaType="java.lang.String"/>
        <result property="userTarget" column="user_target" javaType="java.lang.String"/>
        <result property="userIndustry" column="user_industry" javaType="java.lang.String"/>
        <result property="userHobby" column="user_hobby" javaType="java.lang.String"/>
        <result property="userSelfappraise" column="user_selfappraise" javaType="java.lang.String"/>
        <result property="userEducation" column="user_education" javaType="java.lang.String"/>
        <result property="userAcademy" column="user_academy" javaType="java.lang.String"/>
        <result property="userSpecialty" column="user_specialty" javaType="java.lang.String"/>
        <result property="userAllTime" column="user_all_time" javaType="java.lang.Integer"/>
        <result property="userDateTime" column="user_date_time" javaType="java.lang.Integer"/>
        <result property="userImg" column="user_img" javaType="java.lang.String"/>
        <result property="userRealimg" column="user_realimg" javaType="java.lang.String"/>
    </resultMap>
    <!--根据id查询学习表-->
    <select id="selectDuration" resultMap="durstionMap" parameterType="java.lang.String">
        select * from user where user_id=#{userId}
    </select>
    <!--查询用户总数-->
    <select id="findUser" resultType="java.lang.Integer">
        select count(*) from user
    </select>
    <!--根据ID查询学习时长排序后用户的排名-->
    <select id="findUserById" parameterType="com.zlk.zlkproject.entity.User" resultType="java.lang.Integer">
        SELECT b.rownum FROM
        (
        SELECT t.*, @rownum := @rownum + 1 AS rownum
        FROM (SELECT @rownum := 0) r,
        (SELECT * FROM user ORDER BY user_all_time DESC) AS t
        ) AS b WHERE b.user_id = #{userId};
    </select>
    <!--查询用户已完成视频数量-->
    <select id="findWanCheng" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT count(*) FROM user_section
        WHERE user_id=#{userId} and state='已完成'
    </select>
    <!--查询用户参加项目中的所有视频-->
    <select id="findSectionAll" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT count(*) FROM section s
        JOIN chapter ch on s.chapter_id=ch.chapter_id
        JOIN courses c on ch.courses_id=c.courses_id
        JOIN user_courses uc on c.courses_id=uc.courses_id
        WHERE uc.user_id=#{userId}
    </select>
    <!--查询学习总时长-->
    <select id="selectAllTime" resultType="java.lang.Integer" parameterType="java.lang.String">
        select user_all_time from user where user_id=#{userId}
    </select>
    <!--查询用户参与项目的所有视频的总时间-->
    <select id="selectSection" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT sum(s.section_time) FROM section s
        JOIN chapter ch on s.chapter_id=ch.chapter_id
        JOIN courses c on ch.courses_id=c.courses_id
        JOIN user_courses uc on c.courses_id=uc.courses_id
        WHERE uc.user_id=#{userId}
    </select>
</mapper>