<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlk.zlkproject.user.personal.mapper.NotesMapper">
    <resultMap type="com.zlk.zlkproject.user.entity.Notes" id="notesMap">
        <id property="snId" column="sn_id" javaType="java.lang.Integer"/>
        <result property="sectionId" column="section_id" javaType="java.lang.Integer"/>
        <result property="userId" column="user_id" javaType="java.lang.Integer"/>
        <result property="content" column="content" javaType="java.lang.String"/>
        <result property="up" column="up" javaType="java.lang.Integer"/>
        <result property="down" column="down" javaType="java.lang.Integer"/>
        <result property="report" column="report" javaType="java.lang.String"/>
        <result property="date" column="date" javaType="java.util.Date"/>
    </resultMap>
    <!--查询个人笔记-->
    <select id="selectNotes" resultMap="notesMap" parameterType="com.zlk.zlkproject.user.entity.Notes">
          select * from stu_note order by sn_id desc
    </select>
    <!--修改个人笔记-->
    <update id="updateNotes" parameterType="com.zlk.zlkproject.user.entity.Notes">
        update stu_note
        <set>
            <if test="content!=null and content!=''">
                content=#{content}
            </if>
        </set>
        where sn_id=#{snId}
    </update>
    <delete id="deleteNotes" parameterType="java.lang.Integer">
        delete from stu_note where sn_id=#{snId}
    </delete>
</mapper>