<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlk.zlkproject.course.userChapter.mapper.UserChapterMapper">

    <resultMap type="com.zlk.zlkproject.entity.UserChapter" id="UserChapterMap">
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="chapterId" column="chapter_id" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="UserChapterMap">
        select
          user_id, chapter_id
        from kaohe.user_chapter
        where user_id = #{userId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="UserChapterMap">
        select
          user_id, chapter_id
        from kaohe.user_chapter
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="UserChapterMap">
        select
        user_id, chapter_id
        from kaohe.user_chapter
        <where>
            <if test="userId != null and userId != ''">
                and user_id = #{userId}
            </if>
            <if test="chapterId != null">
                and chapter_id = #{chapterId}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="userId" useGeneratedKeys="true">
        insert into kaohe.user_chapter(user_id,chapter_id)
        values (#{userId},#{chapterId})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update kaohe.user_chapter
        <set>
        </set>
        where user_id = #{userId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from kaohe.user_chapter where user_id = #{userId}
    </delete>

</mapper>