<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlk.zlkproject.admin.mapper.LoginMapper">
    <resultMap id="adminEntityMap" type="com.zlk.zlkproject.entity.Admin">
        <id property="adminId" column="admin_id" javaType="java.lang.String"/>
        <result property="adminName" column="admin_name" javaType="java.lang.String"/>
        <result property="adminPassword" column="admin_password" javaType="java.lang.String"/>
        <result property="adminRole" column="admin_role" javaType="java.lang.String"/>
    </resultMap>
    <select id="findAdminByAdminName" parameterType="java.lang.String" resultMap="adminEntityMap">
        select * from admins where admin_name = #{adminName}
    </select>
</mapper>