<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlk.zlkproject.admin.mapper.RoleMapper">
    <resultMap id="roleEntityMap" type="com.zlk.zlkproject.entity.Role">
        <id property="roleId" column="role_id" javaType="java.lang.String"/>
        <result property="roleName" column="role_name" javaType="java.lang.String"/>
        <result property="roleCode" column="role_code" javaType="java.lang.String"/>
    </resultMap>
    <select id="findTotalCountByRoleName" parameterType="com.zlk.zlkproject.admin.util.Pagination" resultType="java.lang.Integer">
        select count(*) from roles
        <if test="condition!='' and condition!=null">
            where role_name like CONCAT('%',#{condition},'%')
        </if>
    </select>
    <select id="findRoleByLimit" parameterType="com.zlk.zlkproject.admin.util.Pagination" resultMap="roleEntityMap">
        select * from roles
        <if test="condition!='' and condition!=null">
            where role_name like CONCAT('%',#{condition},'%')
        </if>
        order by role_id limit #{startPage},#{limit}
    </select>
    <insert id="addRole" parameterType="com.zlk.zlkproject.entity.Role">
        insert into roles
        <trim prefix="(" suffix=") " suffixOverrides=",">
            role_id,role_name,role_code,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{roleId},#{roleName},#{roleCode},
        </trim>
    </insert>
    <select id="findRoleByRoleName" parameterType="java.lang.String" resultMap="roleEntityMap">
        select * from roles where role_name = #{roleName}
    </select>
    <update id="updateRoleByRoleId" parameterType="com.zlk.zlkproject.entity.Role">
        update roles
        <set>
            <if test="roleName!=null and roleName!='' ">
                role_name=#{roleName},
            </if>
            <if test="roleCode!=null and roleCode!='' ">
                role_code=#{roleCode},
            </if>
        </set>
        where role_id=#{roleId}
    </update>
    <delete id="deleteRoleByRoleId" parameterType="java.lang.String">
        delete from roles where role_id=#{roleId}
    </delete>
</mapper>