<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlk.zlkproject.user.signup.mapper.SignMapper">
        <resultMap type="com.zlk.zlkproject.entity.User" id="durstionMap">
            <id property="userId" column="user_id" javaType="java.lang.String"/>
            <result property="phonenum" column="user_phonenum" javaType="java.lang.String"/>
            <result property="userPwd" column="user_pwd" javaType="java.lang.String"/>
            <result property="userRealname" column="user_realname" javaType="java.lang.String"/>
            <result property="userSex" column="user_sex" javaType="java.lang.String"/>
            <result property="userBirthday" column="user_birthday" javaType="java.util.Date"/>
            <result property="userNative" column="user_native" javaType="java.lang.String"/>
            <result property="userMarry" column="user_marry" javaType="java.lang.String"/>
            <result property="userCity" column="user_city" javaType="java.lang.String"/>
            <result property="userState" column="user_state" javaType="java.lang.String"/>
            <result property="userTarget" column="user_target" javaType="java.lang.String"/>
            <result property="userIndustry" column="user_industry" javaType="java.lang.String"/>
            <result property="userHobby" column="user_hobby" javaType="java.lang.String"/>
            <result property="userSelfappraise" column="user_selfappraise" javaType="java.lang.String"/>
            <result property="userEducation" column="user_education" javaType="java.lang.String"/>
            <result property="userAcademy" column="user_academy" javaType="java.lang.String"/>
            <result property="userSpecialty" column="user_specialty" javaType="java.lang.String"/>
            <result property="userAllTime" column="user_all_time" javaType="java.lang.Integer"/>
            <result property="userDateTime" column="user_date_time" javaType="java.lang.Integer"/>
            <result property="userImg" column="user_img" javaType="java.lang.String"/>
            <result property="userRealimg" column="user_realimg" javaType="java.lang.String"/>
        </resultMap>

    <insert id="signup" parameterType="com.zlk.zlkproject.entity.User">
        insert into user (user_id,user_phonenum,user_pwd,user_realname)value (#{userId},#{phonenum},#{userPwd},#{userRealname})
    </insert>

    <select id="findUserByPhonenum" parameterType="java.lang.String" resultMap="durstionMap">
        select * from user where user_phonenum = #{phonenum} limit 0,1
    </select>
    <select id="findUserByPhonenumAndPwd" parameterType="com.zlk.zlkproject.entity.User" resultMap="durstionMap">
        select * from user where user_phonenum =  #{phonenum} and user_pwd = #{userPwd} limit 0,1
    </select>

    <update id="changePwd" parameterType="com.zlk.zlkproject.entity.User">
        update user set user_pwd = #{userPwd} where user_phonenum = #{phonenum}
    </update>

</mapper>