<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlk.zlkproject.community.comment.mapper.ReplyCommentMapper">
    <resultMap id="replyCommentWithUser" type="com.zlk.zlkproject.community.comment.entity.ReplyComment">
        <id column="id" property="id"/>
        <result column="article_id" property="articleId"/>
        <result column="comment_id" property="commentId"/>
        <result column="reply_user_id" property="replyUserId"/>
        <result column="replied_user_id" property="repliedUserId"/>
        <result column="content" property="content"/>
        <result column="create_time" property="createTime"/>
        <association property="user" javaType="com.zlk.zlkproject.entity.User">
            <id column="user_id" property="userId"/>
            <result column="user_realname" property="userRealname"/>
            <result column="user_img" property="userImg"/>
        </association>
    </resultMap>

    <insert id="addReplyComment" parameterType="com.zlk.zlkproject.community.comment.entity.ReplyComment" useGeneratedKeys="true" keyProperty="id">
        insert into reply_comment (article_id,comment_id,reply_user_id,replied_user_id,content)
        values (#{articleId},#{commentId},#{replyUserId},#{repliedUserId},#{content})
    </insert>

    <select id="getReplyCommentsByCommentId" parameterType="java.lang.Integer" resultMap="replyCommentWithUser">
        select R.id,R.article_id,R.comment_id,R.reply_user_id,R.replied_user_id,R.content,DATE_FORMAT(R.create_time,'%Y-%m-%d %H:%i:%s') as create_time,
        U.id as user_id,U.user_realname,U.user_img
        from reply_comment R
        left join users U on R.reply_user_id=U.id
        where R.comment_id=#{id}
    </select>
</mapper>