<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlk.zlkproject.community.articleHot.mapper.ArticleHotMapper">
    <resultMap id="articleEntityMap" type="com.zlk.zlkproject.entity.Article">
        <id property="articleId" column="article_id" javaType="java.lang.String"></id>
        <result property="title" column="title" javaType="java.lang.String"></result>
        <result property="browseCount" column="browse_count" javaType="java.lang.Integer"></result>
        <result property="commentCount" column="comment_count" javaType="java.lang.Integer"></result>
        <result property="createTime" column="create_time" javaType="java.util.Date"></result>
        <result property="updateTime" column="update_time" javaType="java.util.Date"></result>
        <result property="figures" column="figures" javaType="java.lang.String"></result>
        <result property="articleContentHtml" column="article_content_html" javaType="java.lang.String"></result>
        <result property="articleDigest" column="article_digest" javaType="java.lang.String"></result>
        <result property="articleContent" column="article_content" javaType="java.lang.String"></result>
        <result property="zanCount" column="zan_count" javaType="java.lang.Integer"></result>
        <result property="caiCount" column="cai_count" javaType="java.lang.Integer"></result>
        <result property="inform" column="inform" javaType="java.lang.Integer"></result>
        <!--<result property="userId" column="user_id" javaType="java.lang.String"></result>-->
        <result property="createArticleType" column="create_article_type" javaType="java.lang.Integer"></result>
        <result property="articleSetTop" column="article_set_top" javaType="java.lang.Integer"></result>
        <result property="approval" column="approval" javaType="java.lang.Integer"></result>
        <result property="typeName" column="type_name" javaType="java.lang.String"></result>
        <!--<result property="tagName" column="tag_name" javaType="java.lang.String"></result>-->
    </resultMap>

    <!--根据当月创建时间降序查询最新文章标题-->
    <select id="selectTitleByArticle" resultType="com.zlk.zlkproject.entity.Article" resultMap="articleEntityMap">
        select title,browse_count,comment_count from article where date_format(create_time,'%Y-%m') = date_format(now(),'%Y-%m') order by create_time desc LIMIT 0,6
    </select>

    <!--根据浏览量降序查询文章标题-->
    <select id="findTitleByBrowseCount" resultType="com.zlk.zlkproject.entity.Article" resultMap="articleEntityMap">
        select title,browse_count,comment_count from article order by browse_count desc LIMIT 0,6
    </select>

    <!--查询所有文章-->
    <select id="selectAll" resultType="com.zlk.zlkproject.entity.Article" resultMap="articleEntityMap">
        select * from article
    </select>


</mapper>