<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlk.zlkproject.community.question.mapper.QuestionHomeMapper">
    <resultMap id="questionEntityMap" type="com.zlk.zlkproject.entity.Question">
        <id column="question_id" property="questionId" javaType="java.lang.String"/>
        <result column="question_title" property="questionTitle" javaType="java.lang.String"/>
        <result column="question_content" property="questionContent" javaType="java.lang.String"/>
        <result column="solve" property="solve" javaType="java.lang.Integer"/>
        <result column="create_time" property="createTime" javaType="java.util.Date"/>
        <result column="browse_count" property="browseCount" javaType="java.lang.String"/>
        <result column="question_set_top" property="questionSetTop" javaType="java.lang.Integer"/>
        <result column="zan_count" property="zanCount" javaType="java.lang.Integer"/>
        <result column="cai_count" property="caiCount" javaType="java.lang.Integer"/>
        <result column="audit" property="audit" javaType="java.lang.Integer"/>
        <result column="response_count" property="responseCount" javaType="java.lang.Integer"/>
        <result column="type_name" property="typeName" javaType="java.lang.String"/>
        <result column="tag_name" property="tagName" javaType="java.lang.String"/>
        <!--association 是一对一的关键字，collection是一对多的关键字-->
        <collection property="user" javaType="com.zlk.zlkproject.entity.User">
            <id column="user_id" property="userId" javaType="java.lang.String"></id>
            <result column="user_phonenum" property="phonenum" javaType="java.lang.String"></result>
            <result column="user_pwd" property="userPwd" javaType="java.lang.String"></result>
            <result column="user_realname" property="userRealname" javaType="java.lang.String"></result>
            <result column="user_sex" property="userSex" javaType="java.lang.String"></result>
            <result column="user_birthday" property="userBirthday" javaType="java.util.Date"></result>
            <result column="user_native" property="userNative" javaType="java.lang.String"></result>
            <result column="user_marry" property="userMarry" javaType="java.lang.String"></result>
            <result column="user_city" property="userCity" javaType="java.lang.String"></result>
            <result column="user_state" property="userState" javaType="java.lang.String"></result>
            <result column="user_target" property="userTarget" javaType="java.lang.String"></result>
            <result column="user_industry" property="userIndustry" javaType="java.lang.String"></result>
            <result column="user_hobby" property="userHobby" javaType="java.lang.String"></result>
            <result column="user_selfappraise" property="userSelfappraise" javaType="java.lang.String"></result>
            <result column="user_education" property="userEducation" javaType="java.lang.String"></result>
            <result column="user_academy" property="userAcademy" javaType="java.lang.String"></result>
            <result column="user_specialty" property="userSpecialty" javaType="java.lang.String"></result>
            <result column="user_all_time" property="userAllTime" javaType="java.lang.Integer"></result>
            <result column="user_date_time" property="userDateTime" javaType="java.lang.Integer"></result>
            <result column="user_img" property="userImg" javaType="java.lang.String"></result>
            <result column="user_realimg" property="userRealimg" javaType="java.lang.String"></result>
        </collection>
    </resultMap>
    <select id="findQuestionCount" parameterType="com.zlk.zlkproject.entity.Pagination" resultType="java.lang.Integer">
        select count(1) from question
    </select>
    <select id="findAll" resultMap="questionEntityMap" >
        select * from  question q,user u where q.user_id=u.user_id order by question_set_top,create_time  DESC  limit  #{startPage},#{limit}
    </select>
    <select id="findByUserId" resultMap="questionEntityMap" >
         select * from  question q left join user u on q.user_id=u.user_id where u.user_id=#{userId} order by question_set_top,create_time  DESC limit  #{startPage},#{limit}
   </select>
    <select id="findQuestionId" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*) from question where user_id=#{userId}
    </select>

</mapper>

