<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlk.zlkproject.community.question.mapper.QuestionMapper">
    <resultMap id="questionEntityMap" type="com.zlk.zlkproject.entity.Question">
        <id column="question_id" property="questionId" javaType="java.lang.String"/>
        <result column="question_title" property="questionTitle" javaType="java.lang.String"/>
        <result column="question_content" property="questionContent" javaType="java.lang.String"/>
        <result column="solve" property="solve" javaType="java.lang.Integer"/>
        <result column="create_time" property="createTime" javaType="java.util.Date"/>
        <result column="browse_count" property="browseCount" javaType="java.lang.Integer"/>
    <!--    <result column="user_id" property="userId" javaType="java.lang.Integer"/>
      -->  <result column="zan_count" property="zanCount" javaType="java.lang.Integer"/>
        <result column="cai_count" property="caiCount" javaType="java.lang.Integer"/>
        <result column="type_name" property="typeName" javaType="java.lang.String"/>
        <result column="check" property="check" javaType="java.lang.Integer"/>
        <result column="tag_name" property="tagName" javaType="java.lang.String"/>
        <result column="section_id" property="sectionId" javaType="java.lang.Integer"/>
        <result column="response_count" property="responseCount" javaType="java.lang.Integer"/>
        <result column="create_question_type" property="createQuestionType" javaType="java.lang.String"/>
    </resultMap>

    <insert id="addQuestion"  parameterType="com.zlk.zlkproject.entity.Question" >
        insert into question (question_id,question_title,question_content,create_time,type_name,tag_name,create_question_type)
            values (#{questionId},#{questionTitle},#{questionContent},#{createTime},#{typeName},#{tagName},#{createQuestionType})
    </insert>


</mapper>