<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlk.zlkproject.community.question.mapper.ResponseMapper">
    <resultMap id="responseEntityMap" type="com.zlk.zlkproject.entity.Response">
        <id column="response_id"  property="responseId" javaType="java.lang.String" />
        <result column="create_time" property="createTime" javaType="java.util.Date"/>
        <result column="reply_count" property="replyCount" javaType="java.lang.Integer"/>
        <result column="zan_count" property="zanCount" javaType="java.lang.Integer"/>
        <result column="cai_count" property="caiCount" javaType="java.lang.Integer"/>
        <result column="response_content" property="responseContent" javaType="java.lang.String"/>
        <result column="question_id" property="questionId" javaType="java.lang.String"/>
        <result column="user_id" property="userId" javaType="java.lang.String"/>
    </resultMap>
    <select id="findResponseById" resultMap="responseEntityMap">
        select * from response where question_id
    </select>
    <select id="findAll" resultMap="responseEntityMap">
        select * from response  where question_id  limit #{startPage},#{limit}
    </select>
    <select id="findByResponseTime" resultMap="responseEntityMap">
         select * from  response where question_id order by create_time  DESC  limit  #{startPage},#{limit}
    </select>

</mapper>