body{
    background-color: #FFFFFF;
    overflow: auto;
}
.layui-header{
    -webkit-box-shadow:0px 3px 3px #dddddd ;
    -moz-box-shadow:0px 3px 3px #dddddd ;
    box-shadow:0px 3px 3px #dddddd ;
}
.layui-tab .layui-tab-brief{

}
.layui-body{
    left: 100px !important;
}
.div{
    width: 98%;
    height: 1100px;
    float: left;
    margin: 0 auto;
}
.div .div1{
    border: 1px solid #FD482C;
    float: left;
    width: 200px;
    height: 600px;
}
.div .div2{
    border: 1px solid #2D93CA;
    float: left;
    width: 660px;
    height: 1000px;
}
.div .div3{
    border: 8px solid #FFB800;
    float: right;
    width: 300px;
    height: 800px;
}

.demoTable{
    margin-top:-44px;
    margin-left:800px;
    margin-right:-200px;
    position: fixed;
}
.layui-header .layui-nav layui-layout-left #div1{
    color: #111111;
}
.toubutupian img{
    width: 100px;
    height: 43px;
    background-position: 50px 10px;
    margin-top:10px;
    margin-left:200px;
    margin-right:-800px;
}
.ul1{
    list-style-type:none;
    padding:0;
    top: 19px;
    position: fixed;
    margin-left:360px;
    margin-right:-600px;
}
.ul1 li{
    display:inline;
    color: #111111;
    margin-right: 20px;
    font-size: 15px;
}
.ul1 li a:hover{
    background-color: #A500CC;
}

.wz_rm{
    background-color: rgba(192,192,192,0.1);
    width: 20vw;
    margin-top: 1vw;
    margin-left: 1vw;
}
.wz_remenwenzhang{
    position: absolute;
    margin-left: 65vw;
    margin-top: -1vw;
}
.wz_remen{
    background-color: rgba(192,192,192,0.1);
    float: left;
    width: 20vw;
    font-size: 1.4vw;
    font-weight:bold;
    height: 3vw;
    line-height: 3vw;
    border-bottom: 0.1vw solid blue;
    margin-left: 4vw;
    margin-top: 2vw;
}
.wz_remen_wz{
    margin-left: 1vw;
    float: left;
    width: 8vw;
}
.anniu{
    float: left;
    font-size: 1vw;
    margin-top: -2.9vw;
    margin-left: 16vw;
}
.yueanniu{
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    margin-top: 0.3vw;
    margin-left: -1vw;
    border: 1px solid white;
    line-height: 2vw;
    text-align: center;
    width: 2vw;
    height: 2vw;
    color: white;
    background-color: blue;
}
.zonganniu{
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    margin-top: -2.2vw;
    margin-left: 1.1vw;
    border: 1px solid white;
    line-height: 2vw;
    text-align: center;
    width: 2vw;
    height: 2vw;
    color: black;
    background-color: white;
}
.wz_remen_zt1{
    background-color: rgba(192,192,192,0.1);
    width: 20vw;
    margin-left: 4vw;
    position: absolute;
    margin-top: 5vw;
}
.wz_remen_zt1 ul li{
    width: 19vw;
    height: 5vw;
    padding:0.5vw 0 0 1vw;
}
.wz_remen_zt1 ul li:nth-child(1){
    margin-top: 0.5vw;
}

.wz_remen_zt2{
    display: none;
    background-color: rgba(192,192,192,0.1);
    width: 20vw;
    margin-left: 4vw;
    position: absolute;
    margin-top: 5vw;
}
.wz_remen_zt2 ul li{
    width: 19vw;
    height: 5vw;
    padding:0.5vw 0 0 1vw;
}
.wz_remen_zt2 ul li:nth-child(1){
    margin-top: 0.5vw;
}

.wz_remen_img{
    float: left;
    width: 3vw;
    height: 3vw;
}
.wz_remen_img img{
    width: 100%;
    height: 100%
}
.wz_remen_bt{
    float: left;
    width: 18vw;
    height: 4vw;
    line-height: 3vw;
    font-size: 1.1vw;
    margin-left: 1vw;
    overflow: hidden;
}
.bt{
    float: left;
    margin-top: -0.5vw;
    height: 0vw;
    font-size: 1.2vw;
}
.wz_bt_bq{
    float: right;
    margin-top: 2vw;
    font-size: 0.5vw;
}
.wz_bt_bq span{
    margin-right: 1vw;
}