#art-cmt-textBox{
    position: relative;
    top: 10px;
    width: 90%;
    height: 380px;
    margin: 0 auto;
}
#editor{
    width: 100%;
    height: 100%;
}
#div-artCmt-text{
    width: 100%;
    height: 320px;
    background-color: white;
    border-radius: 3px;
    border: solid 1px #777777;
}
#art-cmt-btnBox{
    position: relative;
    top: 10px;
    width: 90%;
    height: 40px;
    margin: 0 auto;
}
/*--------------------------------------------------------------------------------------*/
#cmt-content-box{
    width: 100%;
    height: auto;
    padding: 10px 0 0 0;
}
.cmt-content{
    background-color: rgb(245,245,245);
    width: 90%;
    height: auto;
    margin: 0 auto 10px auto;
    font-size: 0;
    border-radius: 5px;
    overflow: hidden;
}
.cmt-c-lbox{
    width: 20%;
    height: 300px;
    display: inline-block;
    vertical-align: top;
    font-size: 10px;
}
.cmt-c-rbox{
    width: 80%;
    height: auto;
    padding: 5px 0;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}
.cmt-user-box{
    position: relative;
    width: auto;
    height: auto;
    margin: 0 auto;
    top: 25px;
}
.cmt-head-photo-box{
    width: 9vw;
    height: 9vw;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}
.cmt-user-name-box{
    width: 9vw;
    height: 30px;
    margin: 10px auto;
    font-size: 24px;
    text-align: center;
}
.cmt-text-editor{
    width: 98%;
    height: 220px;
    margin: 0 auto 5px auto !important;
    display: block;
    overflow: hidden;
    background-color: white;
    border-radius: 5px;
}
.cmt-text-editor div{
    height: auto !important;
    overflow-y: hidden;
    word-wrap: break-word;
}
.cmt-c-reply-box{
    width: 98%;
    height: auto;
    margin: 0 auto 5px auto;
    display: none;
}
.cmt-reply-toolBar{
    background-color: white;
    border-radius: 3px 3px 0 0;
    border: 1px solid #8D8D8D;
    border-bottom: none;
}
.cmt-reply-editor{
    background-color: white;
    width: 100%;
    height: 100px;
    border-radius: 0 0 3px 3px;
    border: 1px solid #8D8D8D;
    margin: 0 auto 5px auto;
    display: block;
}
.cmt-reply-editor .w-e-panel-container{
    height: 150px !important;
    overflow-y: auto !important;
}
.cmt-reply-editor .w-e-panel-tab-content{
    height: 100px !important;
}
.w-e-panel-tab-content textarea{
    height: 69px !important;
}
.cmt-reply-editor .w-e-text{
    overflow-y: auto !important;
    word-wrap: break-word;
}
.ART_replyBtn{
    background-color: #5FB878;
    width: 40px;
    height: 22px;
    position: relative;
    top: 0;
    left: 1vw;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.art-cmt-toolBox{
    width: 98%;
    height: 30px;
    margin: 0 auto 5px auto;
    border-radius: 4px;
    background-color: white;
}
.cmt-reply-toolBox{
    width: 98%;
    height: 30px;
    margin: 0 auto;
    border-radius: 4px;
    background-color: white;
}
.cmt-reply-box{
    width: 98%;
    height: auto;
    padding: 5px 0;
    margin: 0 auto;
    display: none;
}
.cmt-c-t-box{
    width: 100px;
    height: 27px;
    padding: 3px 0 0 0;
    font-size: 17px;
}
.cmt-r-t-box{
    width: 100px;
    height: 27px;
    padding: 3px 0 0 0;
    font-size: 17px;
}
.cmt-space-div{
    width: 10px;
    height: 100%;
}
.cmt-ZCbtn{
    cursor: pointer;
}
.cmt-report-btn{
    cursor: pointer;
}