*{
    padding: 0;
    margin: 0;
}

#div_video_all{
    width: 100%;
    height: 400px;
    background-color: #2F4056;
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
}

.layui-col-md2{
    height: 100%;
}

.layui-col-md8{
    height: 100%;
}
/*侧边栏 begin*/
#l_func{
    background-color: black;
    width: 10%;
    height: 100%;
    text-align: center;
    float: left;
}
.l_func_icon{
    background-color: black;
    width: 60px;
    height: 60px;
    color: white;
    text-align: center;
    margin: 30px auto;
}
.iconfont{
    font-size: 26px !important;
    /*color: white;*/
}
.icon_text{
    font-size: 18px;
    /*color: white;*/
}

#r_video{
    background-color: #2F4056;
    float: left;
    width: 89%;
    height: 100%;
    margin-left: 1%;
    position: relative;
}

#video_row{
    height: 400px;
}

#video_div{
    position: absolute;
    z-index: 1;
    background-color: red;
}
/*侧边栏 end*/
/*目录 begin*/
#mulu_div{
    z-index: 5;
    background-color: gray;
    width: 50%;
    height: 100%;
    opacity: 0.7;
    position: absolute;
}

#mulu_div ul{
    width: 90%;
    /*background-color: white;*/
    color: black;
    font-size: 24px;
    margin:20px 5%;
    padding: 0 0;
    list-style: none;
    overflow: hidden;
    border-radius: 2px;
}

#mulu_div ul .headline{
    width: 100%;
    display: inline-block;
    background-color: white;
    box-sizing: border-box;/*将框体并排放置,确定盒模型为IE盒模型，width包括边框与内边距*/
    padding: 0 6px;
    margin: 10px 0;
    cursor: pointer;
}

#mulu_div ul li{
    background-color: white;
    color: black;
    font-size: 20px;
    display: none;
    cursor: pointer;
    border: black 2px solid;
}

.duration{
    width: 100px;
    height: auto;
    float: right;

}

.state{
    color: darkslateblue;
}
/*目录 end*/

/*播放器 begin*/
#div_all{
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    z-index: 1;
    position: absolute;
}
#div_video{
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
    left: 0;
    top: 0;
}
#div_controller{
    width: 100%;
    height: 70px;
    background-color: #0C0C0C;
    opacity: 0.8;
    position: relative;
    left: 0;
    bottom: -10px;
    transition: bottom 1s;
}
#pg_bg{
    width: 100%;
    height: 8px;
    background-color: #c9c9c9;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer !important;
}
#pg_cache{
    width: 0;
    height: 8px;
    background-color: #2D93CA;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer !important;
}
#pg_bar{
    width: 0;
    height: 8px;
    background-color: #5FB878;
    position: relative;
    bottom: 8px;
    left: 0;
    cursor: pointer !important;
}
#pg_btn{
    width: 16px;
    height: 16px;
    border-radius: 4px;
    background-color: #ffffff;
    position: relative;
    left: 0;
    bottom: 20px;
    cursor: pointer !important;
}
.div_btn{
    width: 50px;
    height: 50px;
    float: left;
    margin: 10px 10px;
}
.float_right{
    float: right !important;
}
#div_time{
    width: 135px;
}
.time{
    float: left;
    height: 50px;
    font-size: 15px;
    color: white;
    padding: 7px 0;
}
#current_time{
    width: 60px;
}
#mid{
    width: 15px;
    text-align: center;
}
#total_time{
    width: 60px;
}
.enableClk{
    cursor: pointer;
}
#volume_bar{
    width: 50px;
    height: 120px;
    background-color: #0C0C0C;
    position: relative;
    bottom: 175px;
    border-radius: 5px;
    display: none;
}
#vb_bg{
    width: 4px;
    height: 80px;
    background-color: #c9c9c9;
    border-radius: 2px;
    position: relative;
    margin: 0 auto;
    top: 15px;
    cursor: pointer;
    overflow: hidden;
}
#vb_bar{
    width: 100%;
    height: 100%;
    background-color: #5FB878;
    border-radius: 2px;
    position: relative;
    top: 40px;
    left: 0;
    cursor: pointer;
}
#vb_btn{
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: white;
    position: relative;
    left: 19px;
    top: -31px;
    cursor: pointer;
}
#volume_num{
    margin: 0 auto;
    color: white;
    width: 25px;
    height: 16px;
    position: relative;
    top: 10px;
    text-align: center;
}
#speed_btn{
    width: 100%;
    height: 23px;
    border-radius: 5px;
    border: solid 2px white;
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 5px 0 0 0;
}
#speed_option_box{
    width: 54px;
    height: 168px;
    background-color: #0C0C0C;
    border-radius: 5px;
    position: relative;
    bottom: 220px;
    display: none;
}
.speed_option{
    width: 100%;
    height: 23px;
    background-color: #0C0C0C;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 5px 0 0 0;
}
/*清晰度 begin-------------------------------------------------------------------------------------------------*/
#sharpness_btn{
    width: 100%;
    height: 25px;
    border-radius: 5px;
    border: solid 2px white;
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 3px 0 0 0;
}
#sharpness_option_box{
    width: 54px;
    height: 56px;
    background-color: #0C0C0C;
    border-radius: 5px;
    position: relative;
    bottom: 110px;
    display: none;
}
.sharpness_option{
    width: 100%;
    height: 23px;
    background-color: #0C0C0C;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 5px 0 0 0;
}
/*清晰度 end---------------------------------------------------------------------------------------------------*/

/*播放器 end-----------------------------------------------------------------------------------------------------------*/