*{
    padding: 0;
    margin: 0;
}

.layui-container{
    width: 100% !important;
    height: 100%;
    clear: both;
}

.layui-fluid{
    width: 100%;
    height: auto;
}

#div_video_all{
    width: 100%;
    height: 100%;
    background-color: #2F4056;
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
}

.layui-col-md2{
    height: 100%;
}

.layui-col-md8{
    height: 100%;
}
/*侧边栏 begin*/
#l_func{
    background-color: black;
    width: 10%;
    height: 100%;
    text-align: center;
    float: left;
    border-radius: 5px;
    overflow: hidden;
}
.l_func_icon{
    background-color: black;
    width: 60px;
    height: 60px;
    color: white;
    text-align: center;
    margin: 30px auto;
    padding: 4px 0 0 0;
    border-radius: 5px;
    overflow: hidden;
}
/*.iconfont{
    font-size: 26px !important;
    !*color: white;*!
}*/
.icon_text{
    font-size: 18px;
    /*color: white;*/
}

#r_video{
    background-color: #2F4056;
    float: left;
    width: 89%;
    height: 100%;
    margin-left: 1%;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

#video_row{
    height: 500px;
}

#video_div{
    position: absolute;
    z-index: 1;
    background-color: red;
}
/*侧边栏 end*/
/*目录 begin*/
#mulu_div{
    z-index: 5;
    background-color: gray;
    width: 50%;
    height: 100%;
    opacity: 0.7;
    position: absolute;
}

#mulu_div ul{
    width: 90%;
    /*background-color: white;*/
    color: black;
    font-size: 24px;
    margin:20px 5%;
    padding: 0 0;
    list-style: none;
    overflow: hidden;
    border-radius: 2px;
}

#mulu_div ul .headline{
    width: 100%;
    display: inline-block;
    background-color: white;
    box-sizing: border-box;/*将框体并排放置,确定盒模型为IE盒模型，width包括边框与内边距*/
    padding: 0 6px;
    margin: 10px 0;
    cursor: pointer;
}

#mulu_div ul li{
    background-color: white;
    color: black;
    font-size: 20px;
    display: none;
    cursor: pointer;
    border: black 2px solid;
}

.duration{
    width: 100px;
    height: auto;
    float: right;

}

.state{
    color: darkslateblue;
}
/*目录 end*/

/*功能栏问答 begin*/
#wenda_div{
    width: 90%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background-color: white;
    padding: 0 5%;
}

.editor_title{
    height: 10%;
    font-size: 30px;
    font-family: cursive;
    letter-spacing: 6px;
}
#editor{
    height: 90%;
}

.toolbar{
    height: 8%;
    border: solid 1px lightgrey;
    border-radius: 3px;
    align-items: center;
}

.text{
    height: 76%;
    border: solid 1px lightgrey;
    border-radius: 3px;
}

.w-e-text:empty::before{
    content: attr(placeholder);
    color: darkgrey;
}

/*[contenteditable]:focus:before{*/
/*    content: none;*/
/*}*/
#text_div .w-e-text{
    overflow-y: auto !important;
    padding: 10px !important;
    height: 50% !important;
}

#wenda_bottom_div{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 10px;
}

.tagName{
    width: 8%;
    text-align: center;
    background-color: grey;
    color: white;
    border: 1px solid;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    padding: 2px !important;
    margin: 1% !important;
}

#btn_div{
    width: 100%;
    height: 16%;
    float: right;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

button{
    width: 15%;
    height: 50%;
    margin: 0 10px !important;
    background-color: grey;
    color: white;
    letter-spacing: 2px;
}

#btn_submit_wenda{
    background-color: blue;
}
/*功能栏问答end*/
/*-----stuNote begin-----*/
#div_stuNote{
    width: 50%;
    height: 100%;
    background-color: #e2e2e2;
    border-radius: 5px;
    z-index: 10;
    position: relative;
    left: 0;
    top: 0;
    display: none;
}
#stuNote_titleBox{
    position: relative;
    top: 10px;
    width: 90%;
    height: 50px;
    margin: 0 auto;
}
#stuNote_title{
    width: 60px;
    height: 26px;
    font-size: 20px;
    float: left;
}
#stuNote_closeBtn{
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    cursor: pointer;
    float: right;
    border-radius: 8px;
}
.icon-icon-test{
    font-size: 16px !important;
    color: #777777;
}
#stuNote_textBox{
    position: relative;
    top: 10px;
    width: 90%;
    height: 380px;
    margin: 0 auto;

}
#editor{
    width: 100%;
    height: 100%;
}
.toolbar{
    width: 100%;
    background-color: white;
    border-radius: 3px;
    border: solid 1px #777777;
}
#div_stuNote_text{
    width: 100%;
    height: 320px;
    background-color: white;
    border-radius: 3px;
    border: solid 1px #777777;
}
/*#div_stuNote_text div{
    overflow-y: auto !important;
    height: 100% !important;
}*/
.w-e-panel-container{
    width: 395px !important;
    margin-left:-198px !important;
}
#stuNote_btnBox{
    position: relative;
    top: 10px;
    width: 90%;
    height: 40px;
    margin: 0 auto;
}
.stuNote_btn{
    width: 90px;
    height: 35px;
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 5px 0 0 0;
    margin: 0 0 0 20px;
    float: right;
    border-radius: 5px;
    cursor: pointer;
}
/*-----stuNote end-----*/

/*-----stuCmt begin-----*/
#div_stuCmt{
    width: 50%;
    height: 100%;
    background-color: #e2e2e2;
    border-radius: 5px;
    z-index: 10;
    position: relative;
    left: 0;
    top: 0;
    display: none;
}
#stuCmt_titleBox{
    position: relative;
    top: 10px;
    width: 90%;
    height: 50px;
    margin: 0 auto;
}
#stuCmt_title{
    width: 60px;
    height: 26px;
    font-size: 20px;
    float: left;
}
#stuCmt_closeBtn{
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    cursor: pointer;
    float: right;
    border-radius: 8px;
}
/*.icon-icon-test{
    font-size: 16px !important;
    color: #777777;
}*/
#stuCmt_textBox{
    position: relative;
    top: 10px;
    width: 90%;
    height: 380px;
    margin: 0 auto;

}
#editor{
    width: 100%;
    height: 100%;
}
/*.toolbar{
    width: 100%;
    background-color: white;
    border-radius: 3px;
    border: solid 1px #777777;
}*/
#div_stuCmt_text{
    width: 100%;
    height: 320px;
    background-color: white;
    border-radius: 3px;
    border: solid 1px #777777;
}
/*#div_stuCmt_text div{
    overflow-y: auto !important;
    height: 100% !important;
}*/
/*.w-e-panel-container{
    width: 300px !important;
    margin-left:-150px !important;
}*/
#stuCmt_btnBox{
    position: relative;
    top: 10px;
    width: 90%;
    height: 40px;
    margin: 0 auto;
}
.stuCmt_btn{
    width: 90px;
    height: 35px;
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 5px 0 0 0;
    margin: 0 0 0 20px;
    float: right;
    border-radius: 5px;
    cursor: pointer;
}
/*-----stuCmt end-----*/

/*-----stuNoteSelection begin-----*/
#SNS_allBox{
    background-color: rgb(255,255,255);
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
}
.placeSpace{
    width: 90%;
    height: 30px;
    margin: 0 auto;
}
#SNS_top_box{
    width: 90%;
    height: 50px;
    margin: 0 auto;
}
#SNS_contentBox{
    width: 90%;
    margin: 0 auto;
}
.SNS_top_selection{
    border-bottom: 0px solid rgb(102,71,238);
    color: rgb(109,109,109);
    font-size: 20px;
    text-align: center;
    padding: 10px 0 0 0;
    width: 100px;
    height: 37px;
    margin: 0 10px;
    float: left;
    cursor: pointer;
}
.SNS_top_btn{
    width: 100px;
    height: 37px;
    font-size: 20px;
    color: rgb(109,109,109);
    padding: 10px 0 0 0;
    text-align: center;
    float: right;
    cursor: pointer;
}
.SNS_content{
    background-color: rgb(250,250,250);
    border-radius: 5px;
    width: 100%;
    height: 200px;
    margin: 15px 0;
}
.SNS_content_user{
    width: 15%;
    height: 200px;
    position: relative;
    top: 0;
    left: 0;
    float: left;
}
.SNS_rightBox{
    position: relative;
    width: 85%;
    height: 100%;
    left: 15%;
}
.SNS_text_box{
    width: 100%;
    height: 86%;
    position: relative;
    top: 0;
    left: 0;
}
.SNS_func_box{
    width: 100%;
    height: 28px;
    position: relative;
    top: 0;
    left: 0;
}
.SNS_headPhoto_box{
    position: relative;
    width: 80%;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    top: 11%;
}
.SNS_userName_box{
    position: relative;
    width: 90%;
    height: 22px;
    margin: 0 auto;
    top: 15%;
    text-align: center;
    color: rgb(52,52,52);
    font-size: 18px;
}
.SNS_textEditor{
    position: relative;
    width: 98%;
    height: 96%;
    bottom: 200px;
    left: 1%;
    overflow: hidden;
}
.SNS_textEditor div{
    overflow: hidden !important;
    height: auto !important;
    word-wrap: break-word !important;
}
.SNS_f_b_moduleBox{
    width: 70px;
    height: 100%;
    margin: 0 4px;
    color: rgb(121,121,121);
    text-align: center;
    font-size: 15px;
    position: relative;
    right: 130px;
}
.SNS_moduleBox_lbox{
    width: 30px;
    height: 28px;
    float: left;
}
.SNS_moduleBox_rbox{
    width: 40px;
    height: 23px;
    float: left;
    color: rgb(121,121,121);
    text-align: left;
    padding: 5px 0 0 0;
    font-size: 12px;
}
.UDBtn{
    cursor: pointer;
}
.reportBtn{
    cursor: pointer;
}
.collectBtn{
    cursor: pointer;
}
/*-----stuNoteSelection end-----*/

/*播放器 begin*/
#div_all{
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    z-index: 1;
    position: absolute;
}
#div_video{
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
    left: 0;
    top: 0;
}
#div_controller{
    width: 100%;
    height: 70px;
    background-color: #0C0C0C;
    opacity: 0.8;
    position: relative;
    left: 0;
    bottom: -10px;
    transition: bottom 1s;
}
#pg_bg{
    width: 100%;
    height: 8px;
    background-color: #c9c9c9;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer !important;
}
#pg_cache{
    width: 0;
    height: 8px;
    background-color: #2D93CA;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer !important;
}
#pg_bar{
    width: 0;
    height: 8px;
    background-color: #5FB878;
    position: relative;
    bottom: 8px;
    left: 0;
    cursor: pointer !important;
}
#pg_btn{
    width: 16px;
    height: 16px;
    border-radius: 4px;
    background-color: #ffffff;
    position: relative;
    left: 0;
    bottom: 20px;
    cursor: pointer !important;
}
.div_btn{
    width: 50px;
    height: 50px;
    float: left;
    margin: 10px 10px;
}
.float_right{
    float: right !important;
}
#div_time{
    width: 135px;
}
.time{
    float: left;
    height: 50px;
    font-size: 15px;
    color: white;
    padding: 7px 0;
}
#current_time{
    width: 60px;
}
#mid{
    width: 15px;
    text-align: center;
}
#total_time{
    width: 60px;
}
.enableClk{
    cursor: pointer;
}
#volume_bar{
    width: 50px;
    height: 120px;
    background-color: #0C0C0C;
    position: relative;
    bottom: 175px;
    border-radius: 5px;
    display: none;
}
#vb_bg{
    width: 4px;
    height: 80px;
    background-color: #c9c9c9;
    border-radius: 2px;
    position: relative;
    margin: 0 auto;
    top: 15px;
    cursor: pointer;
    overflow: hidden;
}
#vb_bar{
    width: 100%;
    height: 100%;
    background-color: #5FB878;
    border-radius: 2px;
    position: relative;
    top: 40px;
    left: 0;
    cursor: pointer;
}
#vb_btn{
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: white;
    position: relative;
    left: 19px;
    top: -31px;
    cursor: pointer;
}
#volume_num{
    margin: 0 auto;
    color: white;
    width: 25px;
    height: 16px;
    position: relative;
    top: 10px;
    text-align: center;
}
#speed_btn{
    width: 100%;
    height: 23px;
    border-radius: 5px;
    border: solid 2px white;
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 5px 0 0 0;
}
#speed_option_box{
    width: 54px;
    height: 168px;
    background-color: #0C0C0C;
    border-radius: 5px;
    position: relative;
    bottom: 220px;
    display: none;
}
.speed_option{
    width: 100%;
    height: 23px;
    background-color: #0C0C0C;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 5px 0 0 0;
}

/*清晰度 begin-------------------------------------------------------------------------------------------------*/
#sharpness_btn{
    width: 100%;
    height: 25px;
    border-radius: 5px;
    border: solid 2px white;
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 3px 0 0 0;
}
#sharpness_option_box{
    width: 54px;
    height: 56px;
    background-color: #0C0C0C;
    border-radius: 5px;
    position: relative;
    bottom: 110px;
    display: none;
}
.sharpness_option{
    width: 100%;
    height: 23px;
    background-color: #0C0C0C;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 5px 0 0 0;
}
/*清晰度 end---------------------------------------------------------------------------------------------------*/

/*播放器 end*/

/*选项卡内容 begin*/
.layui-tab{
    margin: 30px auto !important;
}
.layui-tab-title{
    border-top:solid 5px blue !important;

}
.layui-tab-title li{
    background-color: lightgrey;
    border-radius: 5px;
    padding: 0 0 !important;
    font-size: 16px !important;
    color: snow !important;
    letter-spacing: 5px;
}

.li_show{
    width: 16%;
}

.li_hide{
    width: 12%;
}

.layui-this{
    background-color: darkblue !important;
}

.layui-tab-item{
    border: 2px #5d6164 solid;
    border-radius: 1px;
}

/*讲师笔记bigin*/
#lay_flow1{
    border-right: lightgrey 2px solid;
    border-left: lightgrey 2px solid;
    border-top: ghostwhite 2px solid;
}
.note_div{
    width: 80%;
    height: auto;
    padding: 10px 10%;
}
.note_title{
    width: 100%;
    margin: 10px auto;
}
.note_content_div{
    width: 100%;
    height: auto;
    font-size: 18px;
}

