<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlk.zlkproject.user.personal.mapper.cxr.UserMapper">
    <resultMap id="userEntityMap" type="com.zlk.zlkproject.entity.User">
        <id property="userId" column="user_id" javaType="java.lang.String"></id>
        <result property="phonenum" column="user_phonenum" javaType="java.lang.String"></result>
        <result property="userPwd" column="user_pwd" javaType="java.lang.String"></result>
        <result property="userRealname" column="user_realname" javaType="java.lang.String"></result>
        <result property="userSex" column="user_sex" javaType="java.lang.String"></result>
        <result property="userBirthday" column="user_birthday" javaType="java.util.Date"></result>
        <result property="userNative" column="user_native" javaType="java.lang.String"></result>
        <result property="userMarry" column="user_marry" javaType="java.lang.String"></result>
        <result property="userCity" column="user_city" javaType="java.lang.String"></result>
        <result property="userState" column="user_state" javaType="java.lang.String"></result>
        <result property="userTarget" column="user_target" javaType="java.lang.String"></result>
        <result property="userIndustry" column="user_industry" javaType="java.lang.String"></result>
        <result property="userHobby" column="user_hobby" javaType="java.lang.String"></result>
        <result property="userSelfappraise" column="user_selfappraise" javaType="java.lang.String"></result>
        <result property="userEducation" column="user_education" javaType="java.lang.String"></result>
        <result property="userAcademy" column="user_academy" javaType="java.lang.String"></result>
        <result property="userSpecialty" column="user_specialty" javaType="java.lang.String"></result>
        <result property="userAllTime" column="user_all_time" javaType="java.lang.Integer"></result>
        <result property="userDateTime" column="user_date_time" javaType="java.lang.Integer"></result>
        <result property="userImg" column="user_img" javaType="java.lang.String"></result>
        <result property="userRealimg" column="user_realimg" javaType="java.lang.String"></result>
    </resultMap>

    <!--根据ID查询单个信息-->
    <select id="selectUserById" parameterType="com.zlk.zlkproject.entity.User" resultMap="userEntityMap">
      select * from user where user_id=#{userId}
    </select>

    <!--通过主键修改数据-->
    <update id="updateUser" parameterType="com.zlk.zlkproject.entity.User">
        update user
        <set>
            <if test="phonenum != null and phonenum != ''">
                user_phonenum = #{phonenum},
            </if>
            <if test="userPwd != null and userPwd != ''">
                user_pwd = #{userPwd},
            </if>
            <if test="userRealname != null and userRealname != ''">
                user_realname = #{userRealname},
            </if>
            <if test="userSex != null and userSex != ''">
                user_sex = #{userSex},
            </if>
            <if test="userBirthday != null">
                user_birthday = #{userBirthday},
            </if>
            <if test="userNative != null and userNative != ''">
                user_native = #{userNative},
            </if>
            <if test="userMarry != null and userMarry != ''">
                user_marry = #{userMarry},
            </if>
            <if test="userCity != null and userCity != ''">
                user_city = #{userCity},
            </if>
            <if test="userState != null and userState != ''">
                user_state = #{userState},
            </if>
            <if test="userTarget != null and userTarget != ''">
                user_target = #{userTarget},
            </if>
            <if test="userIndustry != null and userIndustry != ''">
                user_industry = #{userIndustry},
            </if>
            <if test="userHobby != null and userHobby != ''">
                user_hobby = #{userHobby},
            </if>
            <if test="userSelfappraise != null and userSelfappraise != ''">
                user_selfappraise = #{userSelfappraise},
            </if>
            <if test="userEducation != null and userEducation != ''">
                user_education = #{userEducation},
            </if>
            <if test="userAcademy != null and userAcademy != ''">
                user_academy = #{userAcademy},
            </if>
            <if test="userSpecialty != null and userSpecialty != ''">
                user_specialty = #{userSpecialty},
            </if>
            <if test="userAllTime != null">
                user_all_time = #{userAllTime},
            </if>
            <if test="userDateTime != null">
                user_date_time = #{userDateTime},
            </if>
            <if test="userImg != null and userImg != ''">
                user_img = #{userImg},
            </if>
            <if test="userRealimg != null and userRealimg != ''">
                user_realimg = #{userRealimg},
            </if>
        </set>
        where user_id = #{userId}
    </update>
    <!--查询所有user信息，分页展示，模糊查询-->
    <select id="findUserByLimit" parameterType="com.zlk.zlkproject.user.entity.CxrPaging" resultMap="userEntityMap">
        select * from user
        <if test="condition!='' and condition!=null">
            where user_realname like CONCAT('%',#{condition},'%')
        </if>
        limit #{startPage},#{limit}
    </select>

    <!--查询总条数，模糊查询分页-->
    <select id="findTotalCountByName" parameterType="com.zlk.zlkproject.user.entity.CxrPaging" resultType="java.lang.Integer">
        select count(*) from user
        <if test="condition!='' and condition!=null">
            where user_realname like CONCAT('%',#{condition},'%')
        </if>

    </select>

    <!--根据ID查询单条数据-->
    <select id="selectByUserId" parameterType="com.zlk.zlkproject.entity.User" resultMap="userEntityMap">
        select * from user where user_id=#{userId}
    </select>

    <!--根据ID进行删除-->
    <delete id="deleteByUserId" parameterType="com.zlk.zlkproject.entity.User">
        delete from user where user_id=#{userId}
    </delete>
    <!--&lt;!&ndash;通过主键修改数据&ndash;&gt;-->
    <!--<update id="updatesUser" parameterType="com.zlk.zlkproject.entity.User">-->
        <!--update user-->
        <!--<set>-->
            <!--<if test="phonenum != null and phonenum != ''">-->
                <!--user_phonenum = #{phonenum},-->
            <!--</if>-->
            <!--<if test="userPwd != null and userPwd != ''">-->
                <!--user_pwd = #{userPwd},-->
            <!--</if>-->
            <!--<if test="userRealname != null and userRealname != ''">-->
                <!--user_realname = #{userRealname},-->
            <!--</if>-->
            <!--<if test="userSex != null and userSex != ''">-->
                <!--user_sex = #{userSex},-->
            <!--</if>-->
            <!--<if test="userBirthday != null">-->
                <!--user_birthday = #{userBirthday},-->
            <!--</if>-->
            <!--<if test="userNative != null and userNative != ''">-->
                <!--user_native = #{userNative},-->
            <!--</if>-->
            <!--<if test="userMarry != null and userMarry != ''">-->
                <!--user_marry = #{userMarry},-->
            <!--</if>-->
            <!--<if test="userCity != null and userCity != ''">-->
                <!--user_city = #{userCity},-->
            <!--</if>-->
            <!--<if test="userState != null and userState != ''">-->
                <!--user_state = #{userState},-->
            <!--</if>-->
            <!--<if test="userTarget != null and userTarget != ''">-->
                <!--user_target = #{userTarget},-->
            <!--</if>-->
            <!--<if test="userIndustry != null and userIndustry != ''">-->
                <!--user_industry = #{userIndustry},-->
            <!--</if>-->
            <!--<if test="userHobby != null and userHobby != ''">-->
                <!--user_hobby = #{userHobby},-->
            <!--</if>-->
            <!--<if test="userSelfappraise != null and userSelfappraise != ''">-->
                <!--user_selfappraise = #{userSelfappraise},-->
            <!--</if>-->
            <!--<if test="userEducation != null and userEducation != ''">-->
                <!--user_education = #{userEducation},-->
            <!--</if>-->
            <!--<if test="userAcademy != null and userAcademy != ''">-->
                <!--user_academy = #{userAcademy},-->
            <!--</if>-->
            <!--<if test="userSpecialty != null and userSpecialty != ''">-->
                <!--user_specialty = #{userSpecialty},-->
            <!--</if>-->
            <!--<if test="userAllTime != null">-->
                <!--user_all_time = #{userAllTime},-->
            <!--</if>-->
            <!--<if test="userDateTime != null">-->
                <!--user_date_time = #{userDateTime},-->
            <!--</if>-->
            <!--<if test="userImg != null and userImg != ''">-->
                <!--user_img = #{userImg},-->
            <!--</if>-->
            <!--<if test="userRealimg != null and userRealimg != ''">-->
                <!--user_realimg = #{userRealimg},-->
            <!--</if>-->
        <!--</set>-->
        <!--where user_id = #{userId}-->
    <!--</update>-->



</mapper>