<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlk.zlkproject.course.comment.mapper.CommentMapper">
    <resultMap id="commentEntityMap" type="com.zlk.zlkproject.entity.Comment">
        <id property="commentId" column="comment_id" javaType="java.lang.Integer"></id>
        <result property="commentUserId" column="comment_user_id" javaType="java.lang.String"></result>
        <result property="comments" column="comments" javaType="java.lang.String"></result>
        <result property="teacherAnswer" column="teacher_answer" javaType="java.lang.String"></result>
        <result property="like" column="like" javaType="java.lang.Integer"></result>
        <result property="dislike" column="dislike" javaType="java.lang.Integer"></result>

        <result property="user_id" column="userId" javaType="java.lang.String"/>
            <result property="phonenum" column="user_phonenum" javaType="java.lang.String"/>
            <result property="userPwd" column="user_pwd" javaType="java.lang.String"/>
            <result property="userRealname" column="user_realname" javaType="java.lang.String"/>
            <result property="userSex" column="user_sex" javaType="java.lang.String"/>
            <result property="userBirthday" column="user_birthday" javaType="java.util.Date"/>
            <result property="userNative" column="user_native" javaType="java.lang.String"/>
            <result property="userMarry" column="user_marry" javaType="java.lang.String"/>
            <result property="userCity" column="user_city" javaType="java.lang.String"/>
            <result property="userState" column="user_state" javaType="java.lang.String"/>
            <result property="userTarget" column="user_target" javaType="java.lang.String"/>
            <result property="userIndustry" column="user_industry" javaType="java.lang.String"/>
            <result property="userHobby" column="user_hobby" javaType="java.lang.String"/>
            <result property="userSelfappraise" column="user_selfappraise" javaType="java.lang.String"/>
            <result property="userEducation" column="user_education" javaType="java.lang.String"/>
            <result property="userAcademy" column="user_academy" javaType="java.lang.String"/>
            <result property="userSpecialty" column="user_specialty" javaType="java.lang.String"/>
            <result property="userAllTime" column="user_all_time" javaType="java.lang.Integer"/>
            <result property="userDateTime" column="user_date_time" javaType="java.lang.Integer"/>
            <result property="userImg" column="user_img" javaType="java.lang.String"/>
            <result property="userRealimg" column="user_realimg" javaType="java.lang.String"/>

    </resultMap>
    
    <select id="findCommentListByUserId" parameterType="com.zlk.zlkproject.entity.Comment" resultMap="commentEntityMap">
      select  user.user_realname,user.user_realimg,comment.comments,comment.teacher_answer,user.user_img,comment.like,comment.dislike
      FROM user,comment WHERE user.user_id = comment.comment_user_id
      and comment.comment_user_id=#{commentUserId}  ORDER BY comment.like DESC limit #{startPage},#{limit}
    </select>

    <select id="findCommentCountByUserId" resultType="java.lang.Integer">
        select count(1) from user,comment  where user.user_id = comment.comment_user_id
       and comment.comment_user_id  = #{commentUserId}
    </select>
</mapper>