<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlk.zlkproject.community.articleTag.mapper.ArticleByTagMapper">
    <resultMap id="articleByTag" type="com.zlk.zlkproject.entity.Article">
        <id column="article_id" property="articleId" javaType="java.lang.String"/>
        <result column="title" property="title" javaType="java.lang.String"/>
        <result column="browse_count" property="browseCount" javaType="java.lang.Integer"/>
        <result column="comment_count" property="commentCount" javaType="java.lang.Integer"/>
        <result column="create_time" property="createTime" javaType="java.util.Date"/>
        <result column="update_time" property="updateTime" javaType="java.util.Date"/>
        <result column="figures" property="figures" javaType="java.lang.String"/>
        <result column="article_digest" property="articleDigest" javaType="java.lang.String"/>
        <result column="article_content" property="articleContent" javaType="java.lang.String"/>
        <result column="zan_count" property="zanCount" javaType="java.lang.Integer"/>
        <result column="cai_count" property="caiCount" javaType="java.lang.Integer"/>
        <result column="inform" property="inform" javaType="java.lang.Integer"/>
        <result column="user_id" property="userId" javaType="java.lang.String"/>
        <result column="create_article_type" property="createArticleType" javaType="java.lang.String"/>
        <result column="article_set_top" property="articleSetTop" javaType="java.lang.Integer"/>

        <association property="user" javaType="com.zlk.zlkproject.entity.User">
            <id column="user_id" property="userId" javaType="java.lang.String"/>
            <result column="user_realname" property="userRealname" javaType="java.lang.String"/>
            <result column="user_img" property="userImg" javaType="java.lang.String"/>
        </association>

        <collection property="tags" ofType="com.zlk.zlkproject.entity.Tag">
            <id column="tag_id" property="tagId"/>
            <result column="tag_name" property="tagName"/>
        </collection>
    </resultMap>

    <select id="findArticleByTag" parameterType="com.zlk.zlkproject.entity.Pagination" resultMap="articleByTag">
        select a.*,t.tag_id,t.tag_name,u.user_realname,u.user_img
        from article a, article_tag ag, tag t, user u
        where a.article_id = ag.article_id and t.tag_id = ag.tag_id and a.user_id = u.user_id
        order by a.article_set_top,a.create_time DESC
        limit #{startPage},#{limit}
    </select>
</mapper>