<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlk.zlkproject.community.articleTag.mapper.ArticleTagMapper">
    <resultMap id="getArticleByTagId" type="com.zlk.zlkproject.entity.Article">
        <id column="article_id" property="articleId"/>
        <result column="title" property="title"/>
        <result column="browse_count" property="browseCount"/>
        <result column="comment_count" property="commentCount"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="figures" property="figures"/>
        <result column="figures_real" property="figuresReal"/>
        <result column="article_digest" property="articleDigest"/>
        <result column="article_content" property="articleContent"/>
        <result column="zan_count" property="zanCount"/>
        <result column="cai_count" property="caiCount"/>
        <result column="inform" property="inform"/>
        <result column="user_id" property="userId"/>
        <result column="tag_id" property="tagId"/>
    </resultMap>


</mapper>