<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlk.zlkproject.course.courseHomePage.mapper.CourseHomePageMapper">
    <resultMap id="CourseHomePageEntityMap" type="com.zlk.zlkproject.entity.Courses">
        <id property="coursesId" column="courses_id" javaType="java.lang.Integer"></id>
        <result property="coursesName" column="courses_name" javaType="java.lang.String"></result>
        <result property="studentNum" column="student_num" javaType="java.lang.Integer"></result>
        <result property="chapterNum" column="chapter_num" javaType="java.lang.Integer"></result>
        <result property="sectionNum" column="section_num" javaType="java.lang.Integer"></result>
        <result property="price" column="price" javaType="java.lang.Double"></result>
        <result property="coverPic" column="cover_pic" javaType="java.lang.String"></result>
        <result property="introduceVideo" column="introduce_video" javaType="java.lang.String"></result>
        <result property="introduceText" column="introduce_text" javaType="java.lang.String"></result>
        <result property="introducePic" column="introduce_pic" javaType="java.lang.String"></result>
        <result property="featureText" column="feature_text" javaType="java.lang.String"></result>
        <result property="featurePic" column="feature_pic" javaType="java.lang.String"></result>
        <result property="userId" column="user_id" javaType="java.lang.String"></result>
        <result property="userCoursesId" column="user_courses_id" javaType="java.lang.Integer"></result>
        <result property="lastStudyTime" column="last_study_time" javaType="java.sql.Date"></result>
        <result property="tagId" column="tag_id" javaType="java.lang.Integer"></result>
        <result property="tagName" column="tag_name" javaType="java.lang.String"></result>
        <result property="tagTypeId" column="tag_type_id" javaType="java.lang.String"></result>

        <collection property="chapterList" ofType="com.zlk.zlkproject.entity.Chapter">
            <id property="chapterId" column="chapter_id" javaType="java.lang.Integer"></id>
            <result property="coursesId" column="courses_id" javaType="java.lang.Integer"></result>
            <result property="chapterName" column="chapter_name" javaType="java.lang.String"></result>
            <result property="chapterTime" column="chapter_time" javaType="java.lang.Integer"></result>
            <result property="chapterNum" column="chapter_num" javaType="java.lang.Integer"></result>
        </collection>

    </resultMap>
    <select id="selectCoursesByCoursesId" parameterType="com.zlk.zlkproject.entity.Courses" resultMap="CourseHomePageEntityMap">
		select * from courses where courses_id=#{coursesId}
	</select>

    <select id="findCoursesList" parameterType="com.zlk.zlkproject.entity.Pagination" resultMap="CourseHomePageEntityMap">
        select * from courses limit #{startPage},#{limit}
    </select>

    <select id="findUserCoursesList" parameterType="com.zlk.zlkproject.entity.Pagination" resultMap="CourseHomePageEntityMap">
        select * from courses , user_courses #{startPage},#{limit}
    </select>

    <select id="findCoursesCount" parameterType="com.zlk.zlkproject.entity.Pagination" resultType="java.lang.Integer">
		select count(1) from courses
	</select>

    <select id="findAll" parameterType="com.zlk.zlkproject.entity.Courses" resultMap="CourseHomePageEntityMap">
        SELECT c.courses_id,c.courses_name,c.student_num,c.chapter_num,c.section_num,c.price,t.tag_name,c.introduce_pic
       FROM courses c,tag_courses tc,tag t
       WHERE t.tag_id=tc.tag_id AND c.courses_id=tc.courses_id GROUP BY c.courses_id ORDER BY c.student_num DESC LIMIT  #{startPage},#{limit};
    </select>
    <select id="findAllByTag" parameterType="com.zlk.zlkproject.entity.Courses" resultMap="CourseHomePageEntityMap">
       SELECT c.courses_id,c.courses_name,c.student_num,c.chapter_num,c.section_num,c.price ,uc.last_study_time,t.tag_name,c.introduce_pic
       FROM courses c
       LEFT JOIN user_courses uc ON c.courses_id=uc.courses_id
       ,tag_courses tc,tag t
       WHERE t.tag_id=tc.tag_id AND c.courses_id=tc.courses_id AND t.tag_name=#{tagName} ORDER BY c.student_num DESC LIMIT #{startPage},#{limit};
    </select>

    <select id="selectCoursesByLimit" resultMap="CourseHomePageEntityMap">
        select courses_id,courses_name,student_num,chapter_num,section_num,price,cover_pic,
        introduce_video,introduce_text,introduce_pic,feature_text,feature_pic from courses limit #{offset},#{limit};
    </select>

    <select id="selectCount" resultType="java.lang.Integer">
        select count(1) from courses
    </select>

    <insert id="insertByCourses" keyProperty="coursesId" useGeneratedKeys="true">
        insert into courses(courses_name,price,cover_pic,introduce_video
        ,introduce_text,introduce_pic,feature_text,feature_pic) values(#{coursesName}
        ,#{price},#{coverPic},#{introduceVideo},#{introduceText},#{introducePic},
        #{featureText},#{featurePic})
    </insert>

    <update id="updateByCoursesId">
        update courses
        <set>
            <if test="coursesName != null and coursesName != ''">
                courses_name = #{coursesName},
            </if>
            <if test="studentNum != null and studentNum != ''">
                student_num = #{studentNum},
            </if>
            <if test="chapterNum != null and chapterNum != ''">
                chapter_num = #{chapterNum},
            </if>
            <if test="sectionNum != null and sectionNum != ''">
                section_num = #{sectionNum},
            </if>
            <if test="price != null and price != ''">
                price = #{price},
            </if>
            <if test="coverPic != null and coverPic != ''">
                cover_pic = #{coverPic},
            </if>
            <if test="introduceVideo != null and introduceVideo != ''">
                introduce_video = #{introduceVideo},
            </if>
            <if test="introduceText != null and introduceText != ''">
                introduce_text = #{introduceText},
            </if>
            <if test="introducePic != null and introducePic != ''">
                introduce_pic = #{introducePic},
            </if>
            <if test="featureText != null and featureText != ''">
                feature_text = #{featureText},
            </if>
            <if test="featurePic != null and featurePic != ''">
                feature_pic = #{featurePic},
            </if>
        </set>
        where courses_id = #{coursesId}
    </update>

    <delete id="deleteByCoursesId">
        delete from courses where courses_id=#{coursesId}
    </delete>

    <select id="findByCoursesNameLimit" resultMap="CourseHomePageEntityMap">
        select courses_id,courses_name,student_num,chapter_num,section_num,price,cover_pic,
        introduce_video,introduce_text,introduce_pic,feature_text,feature_pic from courses
        <if test="coursesName!=null and coursesName !=''">
            where courses_name like CONCAT('%',#{coursesName},'%')
        </if>
        limit #{startPage},#{limit}
    </select>

    <select id="findCountsByCoursesName" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(1) from courses
        <if test="coursesName!=null and coursesName !=''">
            where courses_name like CONCAT('%',#{coursesName},'%')
        </if>
    </select>
</mapper>