<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlk.zlkproject.course.courseHomePage.mapper.CourseHomePageMapper">
    <resultMap id="CourseHomePageEntityMap" type="com.zlk.zlkproject.entity.Courses">
        <id property="coursesId" column="courses_id" javaType="java.lang.Integer"></id>
        <result property="coursesName" column="courses_name" javaType="java.lang.String"></result>
        <result property="studentNum" column="student_num" javaType="java.lang.Integer"></result>
        <result property="chapterNum" column="chapter_num" javaType="java.lang.Integer"></result>
        <result property="sectionNum" column="section_num" javaType="java.lang.Integer"></result>
        <result property="price" column="price" javaType="java.lang.Double"></result>
        <result property="coverPic" column="cover_pic" javaType="java.lang.String"></result>
        <result property="introduceVideo" column="introduce_video" javaType="java.lang.String"></result>
        <result property="introduceText" column="introduce_text" javaType="java.lang.String"></result>
        <result property="introducePic" column="introduce_pic" javaType="java.lang.String"></result>
        <result property="featureText" column="feature_text" javaType="java.lang.String"></result>
        <result property="featurePic" column="feature_pic" javaType="java.lang.String"></result>
        <!--<collection property="UserCoursesList" ofType="com.zlk.zlkproject.entity.UserCourses">
        <result property="userId" column="user_id" javaType="java.lang.Integer"></result>
        <result property="coursesId" column="courses_id" javaType="java.lang.Integer"></result>
        <result property="lastStudyTime" column="last_study_time" javaType="java.util.Date"></result>
        </collection>-->
        <collection property="chapterList" ofType="com.zlk.zlkproject.entity.Chapter">
            <id property="chapterId" column="chapter_id" javaType="java.lang.Integer"></id>
            <result property="coursesId" column="courses_id" javaType="java.lang.Integer"></result>
            <result property="chapterName" column="chapter_name" javaType="java.lang.String"></result>
            <result property="chapterTime" column="chapter_time" javaType="java.lang.Integer"></result>
            <result property="chapterNum" column="chapter_num" javaType="java.lang.Integer"></result>
        </collection>
    </resultMap>
    <select id="selectCoursesByCoursesId" parameterType="com.zlk.zlkproject.entity.Courses" resultMap="CourseHomePageEntityMap">
		select * from courses where courses_id=#{coursesId}
	</select>

    <select id="findCoursesList" parameterType="com.zlk.zlkproject.entity.Pagination" resultMap="CourseHomePageEntityMap">
        select * from courses limit #{startPage},#{limit}
    </select>

    <select id="findUserCoursesList" parameterType="com.zlk.zlkproject.entity.Pagination" resultMap="CourseHomePageEntityMap">
        select * from courses , user_courses #{startPage},#{limit}
    </select>

    <select id="findCoursesCount" parameterType="com.zlk.zlkproject.entity.Pagination" resultType="java.lang.Integer">
		select count(1) from courses
	</select>


</mapper>