<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlk.zlkproject.course.courseHomePage.mapper.CourseHomePageMapper">
    <resultMap id="CourseHomePageEntityMap" type="com.zlk.zlkproject.course.entity.Courses">
        <id property="coursesId" column="courses_id" javaType="java.lang.Integer"></id>
        <result property="unitId" column="courses_name" javaType="java.lang.String"></result>
        <result property="unitRegisterId" column="student_num" javaType="java.lang.String"></result>
        <result property="payMethod" column="chapter_num" javaType="java.lang.String"></result>
        <result property="receiptUnitName" column="section_num" javaType="java.lang.String"></result>
        <result property="receiptUnitAccount" column="price" javaType="java.lang.String"></result>
        <result property="receiptUnitBank" column="cover_pic" javaType="java.lang.String"></result>
        <result property="bankExchangeNum" column="introduce_video" javaType="java.lang.String"></result>
        <result property="paySusNum" column="introduce_text" javaType="java.lang.String"></result>
        <result property="receiptDate" column="introduce_pic" javaType="java.lang.String"></result>
        <result property="remitUnitName" column="feature_text" javaType="java.lang.String"></result>
        <result property="remitBankName" column="feature_pic" javaType="java.lang.String"></result>

    </resultMap>
</mapper>