<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlk.zlkproject.course.chapter.mapper.ChapterMapper">
    <resultMap id="chapterEntityMap" type="com.zlk.zlkproject.entity.Chapter">
        <id property="chapterId" column="chapter_id" javaType="java.lang.Integer"></id>
        <result property="coursesId" column="courses_id" javaType="java.lang.Integer"></result>
        <result property="chapterName" column="chapter_name" javaType="java.lang.String"></result>
        <result property="chapterTime" column="chapter_time" javaType="java.lang.Integer"></result>
        <result property="chapterNum" column="chapter_num" javaType="java.lang.Integer"></result>
        <collection property="sectionList" ofType="com.zlk.zlkproject.entity.Section">
            <id property="sectionId" column="section_id" javaType="java.lang.Integer"></id>
            <result property="chapterId" column="chapter_id" javaType="java.lang.Integer"></result>
            <result property="sectionName" column="section_name" javaType="java.lang.String"></result>
            <result property="videoAddr" column="video_addr" javaType="java.lang.String"></result>
            <result property="sectionTime" column="section_time" javaType="java.lang.Integer"></result>
            <result property="sectionNum" column="section_num" javaType="java.lang.Integer"></result>
        </collection>
    </resultMap>
    <select id="findChapterByCoursesId" parameterType="java.lang.Integer" resultMap="chapterEntityMap">
        select c.chapter_id,c.courses_id,c.chapter_name,c.chapter_time,c.chapter_num,
        s.section_id,s.section_name,s.video_addr,s.section_time,s.section_num
        from chapter c LEFT JOIN section s on c.chapter_id=s.chapter_id and courses_id = #{coursesId};
    </select>
</mapper>