<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlk.zlkproject.course.chapter.mapper.ChapterMapper">
    <resultMap id="ExercisesMap" type="com.zlk.zlkproject.course.exercises">
        <id property="eId" column="e_id" javaType="java.lang.Integer"/>
        <result property="sectionId" column="section_id" javaType="java.lang.Integer"/>
        <result property="type" column="type" javaType="java.lang.String"/>
        <result property="exerciseNum" column="exercise_num" javaType="java.lang.Integer"/>
        <result property="title" column="title" javaType="java.lang.String"/>
        <result property="answerA" column="answer_A" javaType="java.lang.String"/>
        <result property="answerB" column="answer_B" javaType="java.lang.String"/>
        <result property="answerC" column="answer_C" javaType="java.lang.String"/>
        <result property="answerD" column="answer_D" javaType="java.lang.String"/>
        <result property="truth" column="truth" javaType="java.lang.String"/>
    </resultMap>
</mapper>