<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlk.zlkproject.course.teacherNote.mapper.TeacherNoteMapper">
    <resultMap id="teacherNoteEntityMap" type="com.zlk.zlkproject.entity.TeacherNote">
        <id property="tnId" column="tn_id" javaType="java.lang.Integer"></id>
        <result property="sectionId" column="section_id" javaType="java.lang.Integer"></result>
        <result property="title" column="title" javaType="java.lang.String"></result>
        <result property="content" column="content" javaType="java.lang.String"></result>
        <result property="date" column="date" javaType="java.util.Date"></result>
    </resultMap>

    <select id="findNotesBySectionId" parameterType="java.lang.Integer" resultMap="teacherNoteEntityMap">
        select * from teacher_note
        <if test="sectionId !=null">
            where section_id = #{sectionId}
        </if>
        limit #{offset},#{limit}
    </select>
    <select id="findCountBySectionId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(1) from teacher_note
        <if test="sectionId !=null">
            where section_id = #{sectionId}
        </if>
    </select>

    <!--查询教师笔记并分页-->
    <select id="selectTNByLimit" resultMap="teacherNoteEntityMap">
        select tn_id,section_id,title,content,date from teacher_note
        limit #{offset},#{limit}
    </select>

    <!--查询记录条数-->
    <select id="selectTNByCount" resultType="java.lang.Integer">
        select count(1) from teacher_note
    </select>

    <insert id="insertTNByTeacherNote" keyProperty="tnId" useGeneratedKeys="true">
        insert into teacher_note(section_id,title,content,date)
        values(#{sectionId},#{title},#{content},#{date})
    </insert>

    <update id="updateTNByTeacherNote">
        update teacher_note
        <set>
            <if test="sectionId != null">
                section_id = #{sectionId},
            </if>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="date != null">
                date = #{date},
            </if>
        </set>
        where tn_id = #{tnId}
    </update>

    <!--根据id删除数据-->
    <delete id="deleteByTNId">
        delete from teacher_note where tn_id = #{tnId}
    </delete>
</mapper>