<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlk.zlkproject.community.articleAdd.mapper.ArticleAddMapper">
    <resultMap id="articleAddEntityMap" type="com.zlk.zlkproject.entity.Article">
        <id column="article_id" property="articleId" javaType="java.lang.String"/>
        <result column="title" property="title" javaType="java.lang.String"/>
        <result column="browse_count" property="browseCount" javaType="java.lang.Integer"/>
        <result column="comment_count" property="commentCount" javaType="java.lang.Integer"/>
        <result column="create_time" property="createTime" javaType="java.util.Date"/>
        <result column="update_time" property="updateTime" javaType="java.util.Date"/>
        <result column="figures" property="figures" javaType="java.lang.String"/>
        <result column="figures_real" property="figuresReal" javaType="java.lang.String"/>
        <result column="article_digest" property="articleDigest" javaType="java.lang.String"/>
        <result column="article_content" property="articleContent" javaType="java.lang.String"/>
        <result column="zan_count" property="zanCount" javaType="java.lang.Integer"/>
        <result column="cai_count" property="caiCount" javaType="java.lang.Integer"/>
        <result column="inform" property="inform" javaType="java.lang.String"/>
        <result column="create_article_type" property="createArticleType" javaType="java.lang.String"/>
        <result column="article_set_top" property="articleSetTop" javaType="java.lang.String"/>
        <result column="type_name" property="typeName" javaType="java.lang.String"/>
        <result column="approval" property="approval" javaType="java.lang.String"/>
    </resultMap>

    <insert id="createArticle" parameterType="com.zlk.zlkproject.entity.Article">
        insert into article (article_id,title,figures,figures_real,article_digest,article_content,create_article_type,type_name,create_time,update_time,approval,article_set_top)
        values (#{articleId},#{title},#{figures},#{figuresReal},#{articleDigest},#{articleContent},#{createArticleType},#{typeName},#{createTime},#{updateTime},#{approval},#{articleSetTop})
    </insert>

    <insert id="setArticleTags">
        insert into article_tag (tag_id,article_id)
        values (#{tagId},#{articleId})
    </insert>

</mapper>